
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Item inserted!</title>
</head>
<body>
    <h1>Item inserted Succesfully</h1>
    <h2><a href="../Home/homePageAdmin"> Do more admin moves?</a></h2>
</body>
</html>
