
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insufficient funds!</title>
</head>
<body>
    <h1>Item bought failed</h1>
    <h2><a href="../Home/homePageUser"> Shop more!</a></h2>
</body>
</html>
