
@{
    ViewData["Title"] = "noSearchedProducts";
}

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>No products found!</title>
    </head>
    <body>
        <h1>No products regarding that search string</h1>
        <h2><a href="../Home/homePageUser"> Shop more!</a></h2>
    </body>
    </html>

